<% var data = {
  title: "🦊 Ganz Schön Clever",
  author: "eromanenko"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
⥀♥★✹🎲 ⚀ ⚁ ⚂ ⚃ ⚄ ⚅🦊♻✓☻
<div class="container">
  <div class="sheet-bg"></div>
  <div class="sheet">
    <div class="header">
      <div class="rounds">
        <div class="round round1">
          <div class="round-number">1</div>
          <div class="round-footer"><span>↻</span></div>
        </div>
        <div class="round round2">
            <div class="round-number">2</div>
            <div class="round-footer"><span>+1</span></div>
        </div>
        <div class="round round3">
            <div class="round-number">3</div>
            <div class="round-footer"><span>↻</span></div>
        </div>
        <div class="round round4">
            <div class="round-number">4</div>
            <div class="round-footer"><span>X</span>|<span>6</span></div>
        </div>
        <div class="round round5">
            <div class="round-number">5</div>
            <div class="round-footer">👤👤👤</div>
        </div>
        <div class="round round6">
            <div class="round-number">6</div>
            <div class="round-footer">👤|👤👤</div>
        </div>
      </div>
      <div class="reroll-counter">
        <div class="reroll-counter_icon">↻</div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
        <div class="reroll-counter_item"></div>
      </div>
      <div class="plus-counter">
        <div class="plus-counter_icon">+1</div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
        <div class="plus-counter_item"></div>
      </div>
    </div>
    <div class="color1-box">
      <div class="color1-fields">
        <div class="color1-field">3</div>
        <div class="color1-field">6</div>
        <div class="color1-field">5</div>
        <div class="color1-field selected"></div>
        <div class="color1-field">2</div>
        <div class="color1-field">1</div>
        <div class="color1-field selected"></div>
        <div class="color1-field">5</div>
        <div class="color1-field">1</div>
        <div class="color1-field selected"></div>
        <div class="color1-field">2</div>
        <div class="color1-field">4</div>
        <div class="color1-field selected"></div>
        <div class="color1-field">3</div>
        <div class="color1-field">4</div>
        <div class="color1-field">6</div>
      </div>
      <div class="color1-bonuses">
        <div class="color1-bonus bonus bonus-x-2"><div class="arrow-ltr"></div></div>
        <div class="color1-bonus bonus bonus-4-4"><div class="arrow-ltr"></div></div>
        <div class="color1-bonus bonus bonus-x-3"><div class="arrow-ltr"></div></div>
        <div class="color1-bonus bonus bonus-fox"><div class="arrow-ltr"></div></div>
      </div>
      <div class="color1-row-results">
        <div class="color1-row-result score score-10"><div class="arrow-utb"></div></div>
        <div class="color1-row-result score score-14"><div class="arrow-utb"></div></div>
        <div class="color1-row-result score score-16"><div class="arrow-utb"></div></div>
        <div class="color1-row-result score score-20"><div class="arrow-utb"></div></div>
      </div>
      <div class="color1-bonus bonus bonus-plus"><div class="arrow-lutrb"></div></div>
    </div>

    <div class="color2-box">
      <div class="color2-results">
        <div class="color2-scores">
          <div class="color2-score score score-1"></div>
          <div class="color2-score score score-2"></div>
          <div class="color2-score score score-4"></div>
          <div class="color2-score score score-7"></div>
          <div class="color2-score score score-11"></div>
          <div class="color2-score score score-16"></div>
          <div class="color2-score score score-22"></div>
          <div class="color2-score score score-29"></div>
          <div class="color2-score score score-37"></div>
          <div class="color2-score score score-46"></div>
          <div class="color2-score score score-56"></div>
        </div>
        <div class="color2-amounts">
          <div class="color2-amount">1</div>
          <div class="color2-amount">2</div>
          <div class="color2-amount">3</div>
          <div class="color2-amount">4</div>
          <div class="color2-amount">5</div>
          <div class="color2-amount">6</div>
          <div class="color2-amount">7</div>
          <div class="color2-amount">8</div>
          <div class="color2-amount">9</div>
          <div class="color2-amount">10</div>
          <div class="color2-amount">11</div>
        </div>
      </div>
      <div class="color2-fields">
        <div class="color2-field color2-explanation">+</div>
        <div class="color2-field">2</div>
        <div class="color2-field">3</div>
        <div class="color2-field">4</div>
        <div class="color2-field">5</div>
        <div class="color2-field">6</div>
        <div class="color2-field">7</div>
        <div class="color2-field">8</div>
        <div class="color2-field">9</div>
        <div class="color2-field">10</div>
        <div class="color2-field">11</div>
        <div class="color2-field">12</div>
      </div>
      <div class="color2-bonuses-right">
        <div class="color2-bonus-right bonus bonus-5-4"><div class="arrow-ltr arrow-length-3"></div></div>
        <div class="color2-bonus-right bonus bonus-x-1"><div class="arrow-ltr"></div></div>
        <div class="color2-bonus-right bonus bonus-fox"><div class="arrow-ltr"></div></div>
      </div>
      <div class="color2-bonuses-bottom">
        <div class="color2-bonus-bottom bonus bonus-re"><div class="arrow-utb arrow-length-2"></div></div>
        <div class="color2-bonus-bottom bonus bonus-x-3"><div class="arrow-utb arrow-length-3"></div></div>
        <div class="color2-bonus-bottom bonus bonus-6-5"><div class="arrow-utb arrow-length-3"></div></div>
        <div class="color2-bonus-bottom bonus bonus-plus"><div class="arrow-utb arrow-length-3"></div></div>
      </div>
    </div>

    <div class="color3-box left-arrow">
      <span class="color3-item color3-1 score score-1">≥1</span>
      <span class="color3-item color3-2 score score-3">≥2</span>
      <span class="color3-item color3-3 score score-6">≥3</span>
      <span class="color3-item color3-4 score score-10 bonus bonus-plus">≥4</span>
      <span class="color3-item color3-5 score score-15">≥5</span>
      <span class="color3-item color3-6 score score-21 bonus bonus-x-2">≥1</span>
      <span class="color3-item color3-7 score score-28 bonus bonus-fox">≥2</span>
      <span class="color3-item color3-8 score score-36">≥3</span>
      <span class="color3-item color3-9 score score-45 bonus bonus-6-5">≥4</span>
      <span class="color3-item color3-10 score score-55 bonus bonus-re">≥5</span>
      <span class="color3-item color3-11 score score-66">≥6</span>
    </div>
    <div class="color4-box left-arrow">
        <span class="color4-item color4-1"></span>
        <span class="color4-item color4-2"></span>
        <span class="color4-item color4-3 bonus bonus-re"></span>
        <span class="color4-item color4-4 bonus-multiply multiply2"></span>
        <span class="color4-item color4-5 bonus bonus-x-1"></span>
        <span class="color4-item color4-6 bonus bonus-plus"></span>
        <span class="color4-item color4-7 bonus-multiply multiply2"></span>
        <span class="color4-item color4-8 bonus bonus-fox"></span>
        <span class="color4-item color4-9 bonus-multiply multiply2"></span>
        <span class="color4-item color4-10 bonus bonus-6-5"></span>
        <span class="color4-item color4-11 bonus-multiply multiply3"></span>
    </div>
    <div class="color5-box left-arrow">
        <span class="color5-item color5-1"></span>
        <span class="color5-item color5-2"></span>
        <span class="color5-item color5-3 bonus bonus-re"></span>
        <span class="color5-item color5-4 bonus bonus-x-2"></span>
        <span class="color5-item color5-5 bonus bonus-plus"></span>
        <span class="color5-item color5-6 bonus bonus-x-1"></span>
        <span class="color5-item color5-7 bonus bonus-fox"></span>
        <span class="color5-item color5-8 bonus bonus-re"></span>
        <span class="color5-item color5-9 bonus bonus-x-3"></span>
        <span class="color5-item color5-10 bonus bonus-6-4"></span>
        <span class="color5-item color5-11 bonus bonus-plus"></span>
    </div>
    <div class="results">
      <span class="result result1"></span>
      <span class="result result2"></span>
      <span class="result result3"></span>
      <span class="result result4"></span>
      <span class="result result5"></span>
      <span class="result result-fox"></span>
      <span class="result result-sum"></span>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
